<!DOCTYPE html>
<html lang="en" data-lang="en" class="scroll-smooth">
<head>
  {% include "partials/head.njk" %}
</head>
<body class="min-h-screen bg-white dark:bg-bg-dark text-slate-900 dark:text-slate-100 flex flex-col">
  {% include "components/header.njk" %}

  <main class="flex-1">
    {{ content | safe }}
  </main>

  {% include "components/footer.njk" %}

  <!-- i18n translations embedded for instant access -->
  <script id="i18n-data" type="application/json">
    {{ i18n | dump | safe }}
  </script>

  <!-- JavaScript -->
  <script src="/assets/js/i18n.js" defer></script>
  <script src="/assets/js/main.js" defer></script>
</body>
</html>
